html {
   font-size: 10px;
}

h1 {
   font-family: 'Pridi', serif;
   font-size: 5rem;
   color: #A3BAD9;
   letter-spacing: 3px;
   word-spacing: 8px;
}


h2, h3, p, a {
   font-family: 'Tomorrow', sans-serif;
   color: #f2f2f2;
   letter-spacing: 1px;
   word-spacing: 3px;
   line-height: 1.5;
}

h2 {
   font-size: 3rem;
   margin-top: 3rem;
}

h3 {
   font-size: 2rem;
   margin-top: 3rem;
}

p, a {
   font-size: 1.25rem;
}

/* NAVIGATION */
.navbar {
   background-color: #495073 !important;
   box-shadow: 0 0 5px 3px black, 
               0 0 20px 10px #f2f2f2, 
               inset 0 0 3px #f2f2f2, 
               inset 0 0 10px #738CBF, 
               inset 0 0 20px #738CBF;
            }
            
.navbar-brand h1 {
   background-color: #f2f2f2;
   font-size: 3rem;
   color: #495073;
   width: 100%;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-radius: 1rem;
   margin-right: 0;
}

.navbar-nav .nav-item {
   padding: 0 3rem;
}

.nav-link {
   color: #f2f2f2 !important;
}

.active {
   color: #A3BAD9 !important;
}

/* ABOUT - Page */
/* MAIN */
.jumbotron {
   background-image: url(../images/annie-spratt-xTaOPMa6wAE-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 5rem;
   padding-bottom: 5rem;
   min-height: 100vh;
}

.about-box {
   background-color: rgba(73, 79, 114, 0.8);
   padding: 5rem 3%;
   margin: 2rem;
   margin-top: 10rem;
   box-shadow: 0 0 5px 3px black, 
               0 0 20px 10px #f2f2f2, 
               inset 0 0 3px #f2f2f2, 
               inset 0 0 10px #738CBF, 
               inset 0 0 20px #738CBF;
}
            
.about-box img {
   background-image: url(../images/IMG_20180205_210241.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: 100%;
   height: 60rem;
   max-width: 54.7rem;
   margin-top: 3rem;
   box-shadow: 0 0 5px 3px black, 
               inset 0 0 10px #f2f2f2;
}


/* FOOTER */
footer {
   background-color: #738CBF;
   padding: 1rem;
   box-shadow: 0 0 5px 3px black, 
            0 0 18px #f2f2f2, 
            inset 0 0 3px #f2f2f2, 
            inset 0 0 10px #738CBF, 
            inset 0 0 20px #738CBF;
   border-top: #495073 0.75rem solid;
   margin-top: -5rem;
}

footer p {
   text-align: center;
   color: #f2f2f2;
}


/* MEDIA QUERY */
@media (max-width: 576px) {

   .about-box {
      margin: 0;
      margin-top: 25rem;
      margin-bottom: 10rem;
   }
}

@media (min-width: 1200px) {
   h2, h3 {
      padding: 0 3%;
   }
}


/* PORTFOLIO - Page */
.portfolio-box {
   background-color: rgba(73, 79, 114, 0.8);
   padding: 5rem 3%;
   margin: 2rem;
   margin-top: 10rem;
   box-shadow: 0 0 5px 3px black, 
               0 0 20px 20px #f2f2f2, 
               inset 0 0 3px #f2f2f2, 
               inset 0 0 10px #738CBF, 
               inset 0 0 20px #738CBF;
}
            
#job-1, #job-2, #job-3, #job-4, #job-5 {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: auto;
   height: 10rem;
   max-width: 100%;
   margin-top: 3rem;
   box-shadow: 0 0 5px 3px black, 
               inset 0 0 10px #f2f2f2;

   box-shadow: 0 0 5px 3px black, 
               0 0 5px 5px #f2f2f2, 
               inset 0 0 3px #f2f2f2, 
               inset 0 0 5px #738CBF, 
               inset 0 0 10px #738CBF;
}

#job-1{
   background-image: url(../images/carmines-screen.png);
}

#job-2{
   background-image: url(../images/tonys-screen.png);
   background-position: top center;
}

#job-3{
   background-image: url(../images/yoga-screen.png);
   background-position: top left;
}

#job-4{
   background-image: url(../images/workout-screen.png);
}

#job-5{
   background-image: url(../images/animal-screen.png);
}


/* MEDIA QUERY */
@media (max-width: 576px) {

   .portfolio-box {
      margin: 0;
      margin-top: 25rem;
      margin-bottom: 10rem;
   }
}


/* CONTACT - Page */
.contact-box {
   background-color: rgba(73, 79, 114, 0.8);
   padding: 5rem 3%;
   margin: 2rem;
   margin-top: 10rem;
   box-shadow: 0 0 5px 3px black, 
               0 0 20px 10px #f2f2f2, 
               inset 0 0 3px #f2f2f2, 
               inset 0 0 10px #738CBF, 
               inset 0 0 20px #738CBF;
}

.contact-box a {
   font-size: 2rem;
   color: #A3BAD9;
}

form {
   margin-top: 3rem;
}

.form-group {
   margin-bottom: 3rem;
}

.form-group p {
   text-align: left;
}

.form-group input, .form-group textarea {
   box-shadow: 0 0 3px 2px black, 
               0 0 3px 4px #f2f2f2, 
               inset 0 0 3px #f2f2f2, 
               inset 0 0 3px #738CBF, 
               inset 0 0 5px #738CBF;
   height: 4rem;
   padding: 1rem 2rem;
}

button {
   background-color: #A3BAD9 !important;
   color: #495073 !important;
   font-size: 1.5rem !important;
   font-weight: 600 !important;

   padding: 1rem 2rem !important;
   width: 50%;
   box-shadow: 0 0 5px 3px black, 
               0 0 5px 5px #f2f2f2, 
               inset 0 0 3px #f2f2f2, 
               inset 0 0 5px #738CBF, 
               inset 0 0 10px #738CBF;
   transition: 0.5s !important;
   
}

button:hover {
   background-color: #495073 !important;
   color: #f2f2f2 !important;
}


/* MEDIA QUERY */
@media (max-width: 576px) {

   .contact-box {
      margin: 0;
      margin-top: 25rem;
      margin-bottom: 10rem;
   }
}



/* FONTS */
/* font-family: 'Pridi', serif;
font-family: 'Tomorrow', sans-serif; */

/* COLORS */
/* Color Theme Swatches in Hex */
/* .Arts-&-Culture-Center-1-hex { color: #495073; }
.Arts-&-Culture-Center-2-hex { color: #738CBF; }
.Arts-&-Culture-Center-3-hex { color: #A3BAD9; }
.Arts-&-Culture-Center-4-hex { color: #D9B282; }
.Arts-&-Culture-Center-5-hex { color: #D95032; } */

/* Color Theme Swatches in RGBA */
/* .Arts-&-Culture-Center-1-rgba { color: rgba(73, 79, 114, 1); }
.Arts-&-Culture-Center-2-rgba { color: rgba(114, 140, 191, 1); }
.Arts-&-Culture-Center-3-rgba { color: rgba(162, 186, 216, 1); }
.Arts-&-Culture-Center-4-rgba { color: rgba(216, 177, 130, 1); }
.Arts-&-Culture-Center-5-rgba { color: rgba(216, 80, 49, 1); } */

/* Color Theme Swatches in HSLA */
/* .Arts-&-Culture-Center-1-hsla { color: hsla(230, 21, 36, 1); }
.Arts-&-Culture-Center-2-hsla { color: hsla(219, 37, 60, 1); }
.Arts-&-Culture-Center-3-hsla { color: hsla(213, 41, 74, 1); }
.Arts-&-Culture-Center-4-hsla { color: hsla(33, 53, 68, 1); }
.Arts-&-Culture-Center-5-hsla { color: hsla(11, 68, 52, 1); } */
